*.snakemake
*.DS_store
*.ipynb_checkpoints
*.Rhistory
close_kin_slim/spatial_sim_data/images/
close_kin_slim/spatial_sim_data/images_bias/
close_kin_slim/spatial_sim_data/spatial_parents/
replicate_conn/bearded_seal_parents
replicate_conn/bearded_seal_popsizes
close_kin_slim/spatial_sim_data/input_matrices/
*.pth
close_kin_slim/flat_maps_data/spatial_kin
close_kin_slim/flat_maps_data/spatial_ts
close_kin_slim/spatial_sim_data/plots/*.png
close_kin_slim/spatial_sim_data/plots/*.csv
close_kin_slim/spatial_sim_data/*.png
close_kin_slim/spatial_sim_data/*.txt 
close_kin_slim/spatial_sim_data/*.csv
close_kin_slim/*.csv
replicate_conn/*.csv
*.png
*.pt
close_kin_slim/spatial_sim_data/pop_sizes
close_kin_slim/spatial_sim_data/pop_sizes_bias
close_kin_slim/spatial_sim_data/pop_sizes_dispersal0.5
close_kin_slim/spatial_sim_data/images_dispersal0.5
close_kin_slim/spatial_sim_data/sspatial_parents_dispersal0.5
close_kin_slim/spatial_sim_data/pop_sizes_test
close_kin_slim/spatial_sim_data/images_test
replicate_conn/bearded_seals/bearded_seal_metadata/
replicate_conn/bearded_seals/bearded_seal_parents/
replicate_conn/bearded_seals/bearded_seal_popsizes/
replicate_conn/bearded_seals/bearded_seal_images
*.csv
